*{
    margin: 0; 
    padding: 0;

}

#board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 1px solid black;
}

#player-setup {
    margin-bottom: 20px;
}

#player-setup input, #player-setup button {
    margin: 5px;
}

#turn-display {
    margin-bottom: 20px;
    font-size: 1.5em;
}